<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Author:</b>
  <%= @comment.author %>
</p>

<p>
  <b>Todo:</b>
  <%= @comment.todo %>
</p>


<%= link_to 'Edit', edit_todo_comment_path(@comment) %> |
<%= link_to 'Back', todo_comments_path %>
