<%= form_for(@todo) do |f| %>
  <input type="hidden" name="author" value="<%= current_user.id %>"></input>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

	<table cellspacing=0>
		<tr><th colspan=3 class="ui-widget-header">작성</th></tr>
		<tr>
			<td>등급:
				<%= f.select(:level,
						options_for_select(["내부용","보고용"], @todo.level)) %>
			</td>
			<td>요청팀: <%= f.text_field :request_team, :size => 20 %></td>
			<td>시작일: <%= f.datepicker :started, :dateFormat => 'yy-mm-dd' %></td>
		</tr>
		<tr>
			<td>구분:
				<%= cate_list = ["","변경","장애","검토","프로젝트","기타"]
				  f.select(:category, options_for_select(cate_list, @todo.category)) %>
				영역:
				<%= tower_list = ["","SVR","WAS","DB","Misc"]
					f.select(:tower, options_for_select(tower_list, @todo.tower)) %>
			</td>
			<td>요청자: <%= f.text_field :request_user, :size => 20 %></td>
			<td>예정일: <%= f.datepicker :due, :dateFormat => 'yy-mm-dd' %></td>
		</tr>
		<tr>
			<td>상태:
				<%= status_list = ["진행중","대기","완료"]
			    f.select(:status, options_for_select(status_list, @todo.status)) %>
			</td>
			<td>담당자: <%= f.text_field :owner, :size => 20 %></td>
			<td>완료일: <%= f.datepicker :finished, :dateFormat => 'yy-mm-dd' %></td>
		</tr>
	</table>

	<table cellspacing=0>
		<tr>
			<th>제목</th>
			<td><%= f.text_field :title, :size => 80 %>
				<span class="help">&lt;-- 계속 유지될 제목</span></td>
		</tr>
		<tr>
			<th>비고</th>
			<td><%= f.text_area :note, :rows => 8, :cols => 80 %>
				<div class="help">
					배경, 전체일정, 수량 등 유지되는 내용으로 작성.<br/>
					업데이트 되는 내용은 "현재상태"로 따로 입력.
				</div>
			</td>
		</tr>
	</table>
	<table cellspacing=0 class="actions">
		<tr><td style="text-align:right">
			<%= f.submit %>
		</td></tr>
	</table>
	<table cellspacing=0 class="help"><tr><td>
		보고/업무공유에 필요/충분한 수준에서 간결히 작성하시고,<br/>
		현황 업데이트 및 보고자나 업무 관련자의 이해를 위한 내용은,
		본문 작성 후 "현재상태" 입력을 통하여 추가하세요.
	</td></tr></table>
<% end %>
<!-- vim:set ts=2 sw=2: -->
