<%= form_for(@todo) do |f| %>
  <input type="hidden" name="author" value="<%= current_user.id %>"></input>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

	<table cellspacing=0>
		<tr><th colspan=3 class="ui-widget-header">작성</th></tr>
		<tr>
			<td>등급:
				<%= f.select(:level, options_for_select(["보고용","내부용"])) %>
			</td>
			<td>요청팀: <%= f.text_field :request_team, :size => 20 %></td>
			<td>시작일: <%= f.datepicker :started %></td>
		</tr>
		<tr>
			<td>구분:
			<%= f.select(:category, options_for_select(["SVR","WAS","DB","Misc"])) %>
			</td>
			<td>요청자: <%= f.text_field :request_user, :size => 20 %></td>
			<td>예정일: <%= f.datepicker :due %></td>
		</tr>
		<tr>
			<td>상태:
				<%= f.select(:status, options_for_select(["진행중","대기","완료"])) %>
			</td>
			<td>담당자: <%= f.text_field :owner, :size => 20 %></td>
			<td>완료일: <%= f.datepicker :finished %></td>
		</tr>
	</table>

	<table cellspacing=0>
		<tr>
			<th>내용</th>
			<th>비고</th>
		</tr>
		<tr>
			<td><%= f.text_area :description, :rows => 5 %></td>
			<td><%= f.text_area :note, :rows => 5 %></td>
		</tr>
	</table>
	<table cellspacing=0 class="actions">
		<tr><td style="text-align:right">
			<%= f.submit %>
		</td></tr>
  </table>
<% end %>
<!-- vim:set ts=2 sw=2: -->
