<h1>Tadas</h1>

<table class="default" cellspacing=0>
  <tr>
    <th class="ui-widget-header">내용</th>
    <th class="ui-widget-header">요청</th>
    <th class="ui-widget-header">담당</th>
    <th class="ui-widget-header">일정</th>
    <th class="ui-widget-header">노트</th>
    <th class="ui-widget-header">Zzz..</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%= todo.description %> 허벌라게 긴 글을 씁니다라고 하지만서도...</td>
    <td class="fmt-nowrap">
      <div><%= todo.request_team %></div>
      <div><%= todo.request_user %></div>
    </td>
    <td class="fmt-nowrap">
      <div><%= todo.category %></div>
      <div><%= todo.owner %></div>
      <div><%= todo.status %></div>
    </td>
    <td>
      <div><%= todo.started.strftime('%m/%d') %></div>
      <div><%= todo.due.strftime('%m/%d') %></div>
      <div><%= todo.finished.strftime('%m/%d') %></div>
    </td>
    <td><%= todo.note %> 허벌라게 긴 글을 씁니다라고 하지만서도...</td>
    <td>
      <%= todo.author.email.split('@')[0] %><br />
      <%= link_to 'Edit', edit_todo_path(todo) %><br />
      <%= link_to 'Delete', todo, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<div style="text-align:right; font-weight: bold">
<%= link_to 'New Todo', new_todo_path %>
| <%= link_to 'Export as xls', todos_path(:format => :xls) %>
</div>
