<h1>Tadas</h1>

<style>
  .toolbar { width:98%; margin:auto; text-align:right; margin-bottom: 5px; }
  .toolbar { font-weight: bold; font-size: 1.2em; }
  td a.full { text-decoration:none; font-style:normal; color:#114; }
  td a.full { display:block; padding:0px; height:100%;}
</style>

<div class="toolbar">
<span class="help">요기를 눌러서 새 할 일을 등록하세요. --&gt;</span>
<%= link_to '새 할일', new_todo_path %>
| <%= link_to 'Excel 내놔', todos_path(:format => :xls) %>
</div>

<table class="default" cellspacing=0>
  <tr>
    <th class="ui-widget-header">내용</th>
    <th class="ui-widget-header">요청</th>
    <th class="ui-widget-header">담당</th>
    <th class="ui-widget-header">일정</th>
    <th class="ui-widget-header">노트</th>
    <th class="ui-widget-header">Zzz..</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td style="width:45%">
      <%= link_to raw(todo.description.gsub("\n", "<br/>")),
        todo, {:class => "full"} %>
    </td>
    <td class="fmt-nowrap align-center">
      <div><%= todo.request_team %>&nbsp;</div>
      <div><%= todo.request_user %>&nbsp;</div>
      <div><%= todo.level %>&nbsp;</div>
    </td>
    <td class="fmt-nowrap align-center">
      <div><%= todo.category %>&nbsp;</div>
      <div><%= todo.owner %>&nbsp;</div>
      <div><%= todo.status %>&nbsp;</div>
    </td>
    <td class="fmt-nowrap align-center">
      <div><%= todo.started ? todo.started.strftime('%m/%d') : "-" %></div>
      <div><%= todo.due ? todo.due.strftime('%m/%d') : "-" %></div>
      <div><%= todo.finished ? todo.finished.strftime('%m/%d') : "-" %></div>
    </td>
    <td><%= raw todo.note.gsub("\n", "<br/>") if todo.note %>&nbsp;</td>
    <td class="fmt-nowrap align-center">
      <div><%= todo.author.email.split('@')[0] %>,
      댓글: <%= todo.comments.count %>
      </div>
      <div><%= link_to '수정', edit_todo_path(todo) %>
      <%= link_to '삭제', todo,
        :confirm => '정말 지우실라고요?', :method => :delete %>
      </div>
    </td>
  </tr>
<% end %>
</table>
