<h1>Tadas</h1>

<style>
  .toolbar { width:98%; margin:auto; text-align:right; margin-bottom: 5px; }
  .toolbar { font-weight: bold; font-size: 1.2em; }
</style>

<div class="toolbar">
<span class="help">요기를 눌러서 새 할 일을 등록하세요. --&gt;</span>
<%= link_to '새 할일', new_todo_path %>
| <%= link_to 'Excel 내놔', todos_path(:format => :xls) %>
</div>

<table class="default" cellspacing=0>
  <tr>
    <th class="ui-widget-header">내용</th>
    <th class="ui-widget-header">요청</th>
    <th class="ui-widget-header">담당</th>
    <th class="ui-widget-header">일정</th>
    <th class="ui-widget-header">노트</th>
    <th class="ui-widget-header">Zzz..</th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%= raw todo.description.gsub("\n", "<br/>") if todo.description %></td>
    <td class="fmt-nowrap">
      <div><%= todo.request_team %></div>
      <div><%= todo.request_user %></div>
      <div><%= todo.level %></div>
    </td>
    <td class="fmt-nowrap">
      <div><%= todo.category %></div>
      <div><%= todo.owner %></div>
      <div><%= todo.status %></div>
    </td>
    <td>
      <div><%= todo.started ? todo.started.strftime('%m/%d') : "-" %></div>
      <div><%= todo.due ? todo.due.strftime('%m/%d') : "-" %></div>
      <div><%= todo.finished ? todo.finished.strftime('%m/%d') : "-" %></div>
    </td>
    <td><%= raw todo.note.gsub("\n", "<br/>") if todo.note %></td>
    <td>
      <%= todo.author.email.split('@')[0] %><br />
      <%= link_to 'Show', todo %>
      <%= link_to 'Edit', edit_todo_path(todo) %><br />
      <%= link_to 'Delete', todo, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
