<h1>Listing todos</h1>

<table class="default" cellspacing=0>
  <tr>
    <th>분류</th>
    <th>내용</th>
    <th>요청팀</th>
    <th>요청자</th>
    <th>담당자</th>
    <th>상태</th>
    <th>시,예,종</th>
    <th>노트</th>
    <th>작성자</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @todos.each do |todo| %>
  <tr>
    <td><%= todo.category %></td>
    <td><%= todo.description %></td>
    <td><%= todo.request_team %></td>
    <td><%= todo.request_user %></td>
    <td><%= todo.owner %></td>
    <td><%= todo.status %></td>
    <td><%= todo.started %>
    <br/><%= todo.due %>
    <br/><%= todo.finished %></td>
    <td><%= todo.note %></td>
    <td><%= todo.author.email %></td>
    <td><%= link_to 'Show', todo %></td>
    <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
    <td><%= link_to 'Destroy', todo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo', new_todo_path %>
<%= link_to 'Export as xls', todos_path(:format => :xls) %>
