<style>
  .td-header { width:8em; text-align:center; }
  .td-content { width:20em; }
  .cmt-report { background: #fcc; }
</style>



<p id="notice"><%= notice %></p>

<table cellspacing=0>
  <tr>
    <td class='td-header'>분류</td>
    <td class='td-content'><%= @todo.category %>&nbsp;</td>
    <td class='td-header'>담당자</td>
    <td class='td-content'><%= @todo.owner %>&nbsp;</td>
    <td class='td-header'>접수일</td>
    <td class='td-content'><%=
      @todo.created_at.localtime.strftime "%Y-%m-%d" %>&nbsp;</td>
  </tr>
  <tr>
    <td class='td-header'>영역</td>
    <td class='td-content'><%= @todo.tower %>&nbsp;</td>
    <td class='td-header'>요청팀</td>
    <td class='td-content'><%= @todo.request_team %>&nbsp;</td>
    <td class='td-header'>예정일</td>
    <td class='td-content'><%= @todo.due %>&nbsp;</td>
  </tr>
  <tr>
    <td class='td-header'>상태</td>
    <td class='td-content'><%= @todo.status %>&nbsp;</td>
    <td class='td-header'>요청자</td>
    <td class='td-content'><%= @todo.request_user %>&nbsp;</td>
    <td class='td-header'>시작일</td>
    <td class='td-content'><%= @todo.started %>&nbsp;</td>
  </tr>
  <tr>
    <td class='td-header'>&nbsp;</td>
    <td class='td-content'>&nbsp;</td>
    <td class='td-header'>작성자</td>
    <td class='td-content'><%= @todo.author.email %>&nbsp;</td>
    <td class='td-header'>종료일</td>
    <td class='td-content'><%= @todo.finished %>&nbsp;</td>
  </tr>
</table>
<table cellspacing="0">
  <tr>
    <td class='td-header' style="width:50%">제목</td>
    <td class='td-header' style="width:50%">비고</td>
  </tr>
  <tr>
    <td style="width:50%"><%=
      raw @todo.title.gsub("\n", "<br/>") if @todo.title %></td>
    <td style="width:50%"><%=
      raw @todo.note.gsub("\n", "<br/>") if @todo.note %>&nbsp;</td>
  </tr>
</table>

<table cellspacing="0"><tr><td style="text-align:right; background:#ccc">
      <%= link_to 'Edit', edit_todo_path(@todo) %> |
      <%= link_to 'Back', todos_path %>
</td></tr></table>

<table cellspacing="0">
  <tr>
    <td class="td-header">현재상태</td>
    <td class="td-header">현재상태 입력</td>
  </tr>
  <tr>
    <td style="width:50%; vertical-align:top; ">
      <div class="todo-comment">
        <%= render @todo.comments %>
      </div>
    </td>
    <td style="width:50%; vertical-align:top; ">
      <%= form_for([@todo, @todo.comments.build]) do |f| %>
        <input type="hidden" name="author" value="<%= current_user.id %>">
        </input>
        <div class="field" style="text-align:right">
          <%= f.select(:ctype,
              options_for_select([["참고용",false],["보고용",true]])) %>
        </div>
        <div class="field" style="text-align:right">
          <%= f.text_area :content, :rows => 6, :cols => 50 %>
        </div>
        <div class="actions" style="border:0; text-align:right">
          <%= f.submit %>
        </div>
        <div class="help">
          <p>"현재상태"로 작성된 내용은 Type 지정에 따라 보고용 본문에
          포함되거나 내부 참조용으로만 활용됩니다.</p>
          <p>Type이 보고용인 경우, 보고에 알맞게 정리하시고,
          Type이 참고용인 경우는 형식에 얽메이지 말고 그냥 말하듯이 편하게
          풀어 쓰셔도 됩니다.
          (팀원들의 내용 공유와 이력 관리가 목적임)</p>

          <p>필요하면/귀찮으면 오고 가는 메일을 그냥 복사해서 붙여도 됩니다.</p>

          <p>아직 구현되지 않았으나, '#'으로 시작되는 단어는 tag로 인식되게
          할려고 생각중이고, '@'으로 시작되는 단어는 서버명으로 인식하게
          하려고 합니다. (예: #통합IT @skcc-miipdb1)
          문장 중에 사용하세요. 이 시스템이 사장되지 않으면 언젠간 되겠죠.</p>

          <p>본문 수정은 "노트" 아래의 잘 보이지 않는 Edit를 사용하세요.</p>
        </div>
      <% end %>
  </td></tr>
</table>
