<style>
  .td-header { width:8em; text-align:center; }
  .td-content { width:20em; }
</style>



<p id="notice"><%= notice %></p>

<table>
  <tr>
    <td class='ui-widget-header td-header'>분류</td>
    <td class='td-content'><%= @todo.category %></td>
    <td class='ui-widget-header td-header'>담당자</td>
    <td class='td-content'><%= @todo.owner %></td>
    <td class='ui-widget-header td-header'>접수일</td>
    <td class='td-content'><%= @todo.created_at %></td>
  </tr>
  <tr>
    <td class='ui-widget-header td-header'>상태</td>
    <td class='td-content'><%= @todo.status %></td>
    <td class='ui-widget-header td-header'>요청팀</td>
    <td class='td-content'><%= @todo.request_team %></td>
    <td class='ui-widget-header td-header'>예정일</td>
    <td class='td-content'><%= @todo.due %></td>
  </tr>
  <tr>
    <td class='ui-widget-header td-header'></td>
    <td class='td-content'></td>
    <td class='ui-widget-header td-header'>요청자</td>
    <td class='td-content'><%= @todo.request_user %></td>
    <td class='ui-widget-header td-header'>시작일</td>
    <td class='td-content'><%= @todo.started %></td>
  </tr>
  <tr>
    <td class='ui-widget-header td-header'></td>
    <td class='td-content'></td>
    <td class='ui-widget-header td-header'>작성자</td>
    <td class='td-content'><%= @todo.author.email %></td>
    <td class='ui-widget-header td-header'>종료일</td>
    <td class='td-content'><%= @todo.finished %></td>
  </tr>
</table>
<table>
  <tr>
    <td class='ui-widget-header td-header'>내용</td>
    <td class='ui-widget-header td-header'>노트</td>
  </tr>
  <tr>
    <td><%= raw @todo.description.gsub("\n", "<br/>") if @todo.description %></td>
    <td><%= raw @todo.note.gsub("\n", "<br/>") if @todo.note %></td>
  </tr>
</table>

<table><tr><td>
      <%= link_to 'Edit', edit_todo_path(@todo) %> |
      <%= link_to 'Back', todos_path %>
</td></tr></table>

<table>
  <tr>
    <td style="width:50%; vertical-align:top; ">
      <h3>Comments</h3>
      <div>
        <%= render @todo.comments %>
      </div>
    </td>
    <td style="width:50%; vertical-align:top; ">
      <h3 style="text-align:right">Add a comment:</h3>
      <%= form_for([@todo, @todo.comments.build]) do |f| %>
        <input type="hidden" name="author" value="<%= current_user.id %>">
        </input>
        <div class="field" style="text-align:right">
          <%= f.text_area :content, :rows => 6 %>
        </div>
        <div class="actions" style="border:0; text-align:right">
          <%= f.submit %>
        </div>
      <% end %>
  </td></tr>
</table>
